@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add in src/styles/App.css or index.css */
body,
html,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
